@import "tailwindcss";
@import '@fontsource/caveat-brush';
@import '@fontsource-variable/josefin-sans';
@import '@fontsource-variable/cormorant-garamond';
@import '@fontsource-variable/libre-bodoni';

@plugin "daisyui";

:root { 
  /* ------------------- Red Velvet -------------------*/
  /* Colors */
  /* --primaryColor: #ef2f7f; */
  /* --secundaryColor: #fef3c7; */
  /* --accentColor: #bb155a; */

  /* Rounded */
  /* --primarySize: 30px; */

  /* Fuentes */
  /* --font-titleText: "Caveat Brush", cursive; */


  /* ------------------- Couronne -------------------*/
  /* Colors */
  --primaryColor: #b03726; 
  --secundaryColor: #fff;
  /* --secundaryColor: #E75480; */
  --accentColor: #c3983b;

  /* Rounded */
  --primarySize: 20px;

  /* Fuentes */
  --font-titleText: "Libre Bodoni Variable", san;
  
  --roundedSize: 9999px; /* Circle Navbar*/
  --font-josefin: "Josefin Sans Variable", cursive; 
}

@theme inline {
  --color-primaryColor: var(--primaryColor);
  --color-secundaryColor: var(--secundaryColor);
  --color-accentColor: var(--accentColor);

  --radius-roundedSize: var(--roundedSize);
  --radius-primarySize: var(--primarySize);
  

  /* Fuentes */

  --font-titleText: var(--font-titleText);  /* Listo para usar en clases */
  --font-caveat: var(--font-caveat);  /* Listo para usar en clases */
  --font-josefin: var(--font-josefin);  /* Listo para usar en clases */

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

body{
  font-family: var(--font-josefin);
}