@import "tailwindcss";
@import '@fontsource/caveat-brush';
@import '@fontsource-variable/josefin-sans';
@import '@fontsource-variable/cormorant-garamond';
@import '@fontsource-variable/libre-bodoni';
@import '@fontsource-variable/onest';
@import '@fontsource/dm-serif-display';
@import '@fontsource/lobster-two';

@plugin "daisyui";

:root { 
  /* ------------------- Central mollets -------------------*/
  /* Colors */
  --primary: #DDBB02;
  --primaryDark: #A68C00;
  --primaryMuted: #C9A800;

  --darkWarm: #1A1600;
  --darkMid: #2E2600;
  --surfaceWarm: #3D3200;

  --cream: #FDFBF0;
  --creamMid: #F5EFC8; 

  --background: var(--cream);

  /* DDBB02 */
  /* FDFBF0 */

  /* Rounded */
  --primarySize: 16px;
  --roundedSize: 9999px; 

  /* Fuentes */
  --font-titleText: "Lobster Two", cursive;
  --font-body: "Onest Variable", sans-serif;
}

@theme inline {
  --color-background: var(--background);

  --color-primary: var(--primary);
  --color-primaryDark: var(--primaryDark);
  --color-primaryMuted: var(--primaryMuted);

  --color-darkWarm: var(--darkWarm);
  --color-darkMid: var(--darkMid);
  --color-surfaceWarm: var(--surfaceWarm);

  --color-cream: var(--cream);
  --color-creamMid: var(--creamMid);
  

  --radius-roundedSize: var(--roundedSize);
  --radius-primarySize: var(--primarySize);
  

  /* Fuentes */

  --font-titleText: var(--font-titleText);  /* Listo para usar en clases */

  --breakpoint-xx: 26rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

body{
  font-family: var(--font-body);
}
